/* .timeline .timeline-content:before {
    content: "";
    display: block;
    position: absolute;
    border: 10px solid #ef0707;
    top: 20px;
    left: 0px;
    border-right-color: var(--app-component-bg);
} */


.timeline .timeline-time .time {
    display: block;
    font-weight: 600;
    line-height: 24px;
    font-size: 1.2rem;
    color: rgba(var(--app-component-color-rgb),.85);
}

.foto-cv{
    margin-top: 15px;
    margin-left: -3.5px;
    /* margin:15px auto; */
  /*border-radius:5px;
   border: 1px solid #999; 
  padding:2px;*/
  width:120px;
  height:90px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background:url(../images/Me.jpg);
  background-size: cover;
}

.timeline .timeline-iconActive {
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px;
    left: 15%;
}

.timeline .timeline-iconActive a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #2cf307;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #495057;
    transition: border-color .2s linear;
    border-radius: 24px;
}

@media (max-width: 575.98px)
{
    .timeline .timeline-iconActive {
        position: absolute;
        width: 10%;
        text-align: center;
        top: 40px;
        left: 45%;
    }
    
}

/*****/
.timeline-about:before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    left: 20%;
    margin-left: -2.5px;
}

.timeline-about .timeline-item {
    position: relative;
    min-height: 50px;
    padding: 20px 0;
}
.timeline-about .timeline-content {
    background: var(--app-component-bg);
    position: relative;
    font-size: 14px;
    max-width: 950px;
    border-radius: 6px;
    margin-left: 8%;
}

.timeline-about .timeline-header {
    padding-top: 0.4rem;
    padding-right: 0.9375rem;
    padding-bottom: 0.4rem;
    padding-left: 0.9375rem;
    display: flex;
    align-items: center;
}

.timeline-about img {
    max-width: 100%;
    display: block;
}

.timeline-about .timeline-header .userimage {
    width: 40px;
    /* height: 40px; */
    overflow: hidden;
    border-radius: 36px;
    margin-right: 0.75rem;
}

.timeline-about .timeline-header .username {
    font-size: .875rem;
    font-weight: 600;
    color: var(--app-component-color);
    flex: 1;
}

.timeline-about .timeline-header .username a {
    color: var(--app-component-color);
    text-decoration: none;
}

.timeline-about .timeline-body {
    padding-right: 0.9375rem;
    padding-bottom: 0.9375rem;
    padding-left: 0.9375rem;
}

/*******************************************/

.separador{
    border-top: 2px solid var(--app-component-table-separator-color);
}

/*******************************************/
.resaltar-texto{
    font-size: .875rem;
    font-weight: 600;
    color: var(--app-component-color);
    flex: 1;
}

/*******************************************/
.timeline-estudios:before {
    content: "";
    position: absolute;
    top: 45px;
    bottom: 5px;
    width: 5px;
    background: #adb5bd!important;
    left: 20%;
    margin-left: -2.5px;
    /* z-index: 1; */
}

.timeline-estudios .timeline-estudios-item {
    position: relative;
    min-height: 50px;
    padding: 10px 0;
}

.timeline-estudios .timeline-time .time {
    display: block;
    font-weight: 600;
    line-height: 24px;
    font-size: 1.0rem;
    color: rgba(var(--app-component-color-rgb),.85);
    padding: 20px;
}

.timeline-estudios .timeline-icon-est {
    position: absolute;
    width: 10%;
    text-align: center;
    top: 35px;
    left: 15%;
}

.timeline-estudios .timeline-icon-est a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #fff;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #adb5bd!important;
    transition: border-color .2s linear;
    border-radius: 24px;
    z-index: 2;
    /* z-index: 2; */
}

.timeline-estudios .timeline-content {
    /* background: var(--app-component-bg); */
    background: #DEE2E6;
    position: relative;
    font-size: 14px;
    max-width: 800px;
    border-radius: 6px;
    margin-left: 25%;
    margin-top: -7%;
    margin-right: 5%;
}

.timeline-estudios .timeline-header {
    padding: 0.9375rem;
    display: flex;
    align-items: center;
}

.text-muted-estudios{
    color: #0e78e3!important;
}

@media (max-width: 575.98px)
{
    .timeline-estudios:before {
        left: 50%;
    }
    .timeline-estudios .timeline-time {
        width: 50%;
        text-align: right;
        padding-right: 20px;
    }

    .timeline-estudios .timeline-content {
        background: #DEE2E6;
        position: relative;
        font-size: 14px;
        max-width: 950px;
        border-radius: 6px;
        margin-left: 5%;
        margin-top: -7%;
        margin-right: 2%;
    }

    .timeline-estudios .timeline-icon-est {
        position: absolute;
        width: 10%;
        text-align: center;
        top: 40px;
        left: 45%;
    }
}


