/* .timeline .timeline-content:before {
    content: "";
    display: block;
    position: absolute;
    border: 10px solid #ef0707;
    top: 20px;
    left: 0px;
    border-right-color: var(--app-component-bg);
} */

.foto-cv{
    margin-top: 15px;
    margin-left: -3.5px;
    /* margin:15px auto; */
  /*border-radius:5px;
   border: 1px solid #999; 
  padding:2px;*/
  width:120px;
  height:90px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background:url(../images/Me.jpg);
  background-size: cover;
}

.timeline .timeline-iconActive {
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px;
    left: 15%;
}

.timeline .timeline-iconActive a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #2cf307;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #495057;
    transition: border-color .2s linear;
    border-radius: 24px;
}

@media (max-width: 575.98px)
{
    .timeline .timeline-iconActive {
        position: absolute;
        width: 10%;
        text-align: center;
        top: 40px;
        left: 45%;
    }
    
}



